.btn-peach { background-color: #FFDAB9; border-color: #FFDAB9; color: #000; }
.btn-blue { background-color: #3498db; border-color: #3498db; color: #fff; }
.btn-orange { background-color: #e67e22; border-color: #e67e22; color: #fff; }
.btn-green { background-color: #2ecc71; border-color: #2ecc71; color: #fff; }
.btn-purple { background-color: #9b59b6; border-color: #9b59b6; color: #fff; }
.btn-yellow { background-color: #f1c40f; border-color: #f1c40f; color: #fff; }
.btn-red { background-color: #e74c3c; border-color: #e74c3c; color: #fff; }
